.card{
    background-color: #1E1E1E;
    color: #FFF;
    padding: 20px;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card i{
    color: var(--primary-color);
    font-size: 48px;
    margin-bottom: 10px;
}