.heading {
  text-align: center;
  margin: 50px 0;
  color: #fff;
  font-size: 40px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: 'inter', sans-serif;
}
.heading p {
  font-size: 16px;
}
.heading h2 span {
  color: var(--primary-color);
}
.button {
  margin-top: 50px;
  text-align: center;
}