.accordion-button,
.accordion-button:focus,
.accordion-button:not(.collapsed) {
  color: var(--primary-color) !important;
  background-color: transparent !important;
  border: none !important;
  border-radius: 0 !important;
  outline: none !important;
  box-shadow: none !important;
}

.accordion-item {
  background-color: transparent !important;
  border-top: 1px solid var(--primary-color) !important;
  border-right: 1px solid var(--primary-color) !important;
  border-bottom: 1px solid var(--primary-color) !important;
  border-left: 1px solid transparent !important;
  border-radius: 0 !important;
  position: relative;
}
h3 {
  color: #fff !important;
  padding: 10px;
}
.accordion-button,
.accordion-button:focus,
.accordion-button:not(.collapsed) {
  position: absolute;
  right: -20px;
  top: -22px;
  background-color: transparent !important;
  border: 1px solid var(--primary-color) !important;
  border-radius: 50% !important;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #131313 !important;
  color: var(--primary-color) !important;
}
.accordion-button::after {
  display: none !important;
}
.accordion-body {
  color: #fff;
}
.head {
  font-family: 'Kalam', cursive;

  font-style: italic;
  font-weight: 400;
  font-size: 20px;
}
.body {
  font-family: 'inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: regular;
  color: rgba(255, 255, 255, 0.65);
  line-height: 40px;
}
